.right2 {
    display: flex;
    flex-direction: column;
    width: 73%;
}

.first-div {
    display: flex;
    background-color: #E8E8E8;
    align-items: center;
    height: 70px;
}

.second-div {
    height: 400px;
    background-color: #F7ECDC;
    padding: 30px 25px;
    overflow-y: scroll;
}

.third-div {
    background-color: #E8E8E8;
}